/* You can add global styles to this file, and also import other style files */
:root{
    font-size: 16px;

    @media screen and (max-width: 867px) {
        font-size: 14px;
    }
}


body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: henriette,sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    color: black;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}